.col-6{
    margin-left: 50px;
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.429);
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 320px;
    
}

.alert-heading{
    text-align: center;
} 